__pycache__
*.so
build
.coverage_*
*.egg-info
*~
slurm*
logs
.vscode
local/
.gitmodules
wandb/
onelogger.log
onelogger.err
.venv
runs/
.hf_cache/
tensorboard/
test_logs/
/test_cases/
**/dist/

# Sphinx documentation
docs/_build
docs/apidocs
